*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20201012/pngtree-white-cloud-on-blue-sky-weather-background-image_410050.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    height: 100vh;
}

main{
    background-color:rgba(221, 235, 239, 0.75);
    position: relative;
    top: 30%;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    min-width: 540 px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

h1{
    margin-bottom: 20px;
    color: rgb(17, 17, 130);
}

#search{
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 42px;
    
}

#submit{
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
}

#weather-wrapper{
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-between;
}

#weather-search{
    display: flex;
    width: 50%;
}

#weather-data {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 1.5em;
  margin-top: 20px;

  text-align: center;
  align-items: center;
  gap: 12px;
}

#weather-data > img {
  border-radius: 50%;
  background-color: lightskyblue;
}
